.head {
  text-align: center;
  text-decoration: underline;
}
.table1 {
  margin: 0 auto;
  margin-top: 100px;
  border: 70px solid rgb(183, 104, 75);
  /* border-collapse: collapse; */
}
tr {
  margin: 0px;
  border: 1px solid black;
}
td {
  margin: 0px;
  border: 1px solid black;
  width: 70px;
  height: 70px;
}
.dark-cell {
  background-color: rgb(147, 44, 7);
}
.light-cell {
  background-color: rgba(00, 00, 00, 0.2);
}
img {
  margin: auto;
  display: block;
  height: 70px;
}
/* #cell-5_5 {
  background-color: blue;
} */
.selected {
  background-color: rgb(197, 197, 83);
}
